body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:369px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10214 {
  position:absolute;
  left:10px;
  top:10px;
  width:359px;
  height:568px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10215 {
  position:absolute;
  left:2px;
  top:276px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10217 {
  position:absolute;
  left:10px;
  top:10px;
  width:359px;
  height:33px;
}
#u10218 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u10219 {
  position:absolute;
  left:290px;
  top:16px;
  width:20px;
  height:22px;
}
#u10220 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u10221 {
  position:absolute;
  left:340px;
  top:16px;
  width:13px;
  height:22px;
}
#u10222 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u10223 {
  position:absolute;
  left:24px;
  top:16px;
  width:20px;
  height:22px;
}
#u10224 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u10225 {
  position:absolute;
  left:52px;
  top:16px;
  width:20px;
  height:22px;
}
#u10226 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u10227 {
  position:absolute;
  left:316px;
  top:23px;
  width:22px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u10228 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u10229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u10229 {
  position:absolute;
  left:260px;
  top:16px;
  width:20px;
  height:22px;
}
#u10230 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#000000;
}
#u10231 {
  position:absolute;
  left:10px;
  top:43px;
  width:359px;
  height:42px;
  font-size:17px;
  color:#000000;
}
#u10232 {
  position:absolute;
  left:2px;
  top:9px;
  width:355px;
  word-wrap:break-word;
}
#u10233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
}
#u10233 {
  position:absolute;
  left:26px;
  top:52px;
  width:17px;
  height:20px;
}
#u10234 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10235 {
  position:absolute;
  left:10px;
  top:323px;
  width:359px;
  height:41px;
}
#u10236 {
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:83px;
}
#u10237 {
  position:absolute;
  left:123px;
  top:116px;
  width:116px;
  height:82px;
}
#u10238 {
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u10239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:20px;
}
#u10239 {
  position:absolute;
  left:28px;
  top:218px;
  width:323px;
  height:60px;
  line-height:20px;
}
#u10240 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  word-wrap:break-word;
}
#u10241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10241 {
  position:absolute;
  left:26px;
  top:334px;
  width:107px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10242 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u10243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10243 {
  position:absolute;
  left:10px;
  top:362px;
  width:359px;
  height:41px;
}
#u10244 {
  position:absolute;
  left:2px;
  top:12px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10245 {
  position:absolute;
  left:26px;
  top:374px;
  width:107px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u10246 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
