body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7319 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:568px;
}
#u7320 {
  position:absolute;
  left:2px;
  top:276px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u7321 {
  position:absolute;
  left:115px;
  top:117px;
  width:38px;
  height:35px;
  font-size:20px;
  color:#FFFFFF;
  line-height:25px;
}
#u7322 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u7323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:25px;
}
#u7323 {
  position:absolute;
  left:163px;
  top:123px;
  width:81px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:25px;
}
#u7324 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:25px;
}
#u7325 {
  position:absolute;
  left:15px;
  top:215px;
  width:325px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:25px;
}
#u7326 {
  position:absolute;
  left:2px;
  top:8px;
  width:321px;
  word-wrap:break-word;
}
#u7327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7327 {
  position:absolute;
  left:123px;
  top:179px;
  width:135px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7328 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u7330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7330 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u7331 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7332 {
  position:absolute;
  left:280px;
  top:6px;
  width:20px;
  height:22px;
}
#u7333 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u7334 {
  position:absolute;
  left:330px;
  top:6px;
  width:13px;
  height:22px;
}
#u7335 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7336_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7336 {
  position:absolute;
  left:14px;
  top:6px;
  width:20px;
  height:22px;
}
#u7337 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7338 {
  position:absolute;
  left:42px;
  top:6px;
  width:20px;
  height:22px;
}
#u7339 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u7340 {
  position:absolute;
  left:306px;
  top:13px;
  width:22px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u7341 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u7342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7342 {
  position:absolute;
  left:250px;
  top:6px;
  width:20px;
  height:22px;
}
#u7343 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  color:#000000;
}
#u7344 {
  position:absolute;
  left:0px;
  top:33px;
  width:359px;
  height:39px;
  font-size:17px;
  color:#000000;
}
#u7345 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u7346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u7346 {
  position:absolute;
  left:15px;
  top:42px;
  width:16px;
  height:19px;
}
#u7347 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
