body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:576px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:576px;
  font-size:14px;
}
#u4972 {
  position:absolute;
  left:2px;
  top:280px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4974 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u4975 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4976 {
  position:absolute;
  left:280px;
  top:6px;
  width:20px;
  height:22px;
}
#u4977 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u4978 {
  position:absolute;
  left:330px;
  top:6px;
  width:13px;
  height:22px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4980 {
  position:absolute;
  left:14px;
  top:6px;
  width:20px;
  height:22px;
}
#u4981 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4982 {
  position:absolute;
  left:42px;
  top:6px;
  width:20px;
  height:22px;
}
#u4983 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u4984 {
  position:absolute;
  left:306px;
  top:13px;
  width:22px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u4985 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u4986 {
  position:absolute;
  left:250px;
  top:6px;
  width:20px;
  height:22px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
}
#u4988 {
  position:absolute;
  left:0px;
  top:33px;
  width:359px;
  height:39px;
  font-size:17px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u4990 {
  position:absolute;
  left:15px;
  top:42px;
  width:16px;
  height:19px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4992 {
  position:absolute;
  left:0px;
  top:71px;
  width:359px;
  height:133px;
}
#u4993 {
  position:absolute;
  left:2px;
  top:58px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u4994 {
  position:absolute;
  left:16px;
  top:87px;
  width:86px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:5px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:16px;
  top:144px;
  width:331px;
  height:5px;
}
#u4997 {
  position:absolute;
  left:2px;
  top:-6px;
  width:327px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  position:absolute;
  left:16px;
  top:144px;
  width:271px;
  height:5px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:-6px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5000 {
  position:absolute;
  left:29px;
  top:165px;
  width:61px;
  height:28px;
  font-size:10px;
  text-align:center;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u5002 {
  position:absolute;
  left:282px;
  top:87px;
  width:65px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
  color:#000000;
  text-align:center;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:16px;
}
#u5004 {
  position:absolute;
  left:279px;
  top:125px;
  width:31px;
  height:16px;
  font-size:11px;
}
#u5005 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  word-wrap:break-word;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:0px;
  top:384px;
  width:359px;
  height:120px;
}
#u5007 {
  position:absolute;
  left:2px;
  top:52px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u5008 {
  position:absolute;
  left:0px;
  top:536px;
  width:359px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#FFFFFF;
}
#u5009 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5010 {
  position:absolute;
  left:16px;
  top:391px;
  width:89px;
  height:36px;
  color:#000000;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(161, 161, 161, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5012 {
  position:absolute;
  left:282px;
  top:447px;
  width:65px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5013 {
  position:absolute;
  left:2px;
  top:11px;
  width:61px;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:35px;
}
#u5014 {
  position:absolute;
  left:174px;
  top:391px;
  width:1px;
  height:34px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:9px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5016 {
  position:absolute;
  left:237px;
  top:391px;
  width:106px;
  height:36px;
  color:#000000;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:17px;
}
#u5018 {
  position:absolute;
  left:336px;
  top:392px;
  width:18px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:3px;
  width:14px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u5020 {
  position:absolute;
  left:252px;
  top:165px;
  width:41px;
  height:28px;
  font-size:10px;
  text-align:center;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u5022 {
  position:absolute;
  left:171px;
  top:165px;
  width:1px;
  height:28px;
}
#u5023 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5024 {
  position:absolute;
  left:16px;
  top:447px;
  width:256px;
  height:40px;
}
#u5024_input {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5025 {
  position:absolute;
  left:0px;
  top:233px;
  width:359px;
  height:120px;
}
#u5026 {
  position:absolute;
  left:2px;
  top:52px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u5027 {
  position:absolute;
  left:16px;
  top:243px;
  width:53px;
  height:18px;
  font-size:13px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#000000;
}
#u5029 {
  position:absolute;
  left:338px;
  top:243px;
  width:9px;
  height:15px;
  font-size:13px;
  color:#000000;
}
#u5030 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  word-wrap:break-word;
}
#u5031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u5031 {
  position:absolute;
  left:0px;
  top:272px;
  width:359px;
  height:1px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5033 {
  position:absolute;
  left:16px;
  top:284px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5034 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u5035 {
  position:absolute;
  left:292px;
  top:284px;
  width:55px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u5036 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u5037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:2px;
}
#u5037 {
  position:absolute;
  left:0px;
  top:311px;
  width:359px;
  height:1px;
}
#u5038 {
  position:absolute;
  left:2px;
  top:-8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5039 {
  position:absolute;
  left:16px;
  top:323px;
  width:27px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
}
#u5040 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u5041 {
  position:absolute;
  left:282px;
  top:322px;
  width:65px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#1E1E1E;
}
#u5042 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u5043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:576px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5044 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:576px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:280px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u5047 {
  position:absolute;
  left:35px;
  top:175px;
  width:274px;
  height:116px;
  font-size:12px;
}
#u5048 {
  position:absolute;
  left:2px;
  top:50px;
  width:270px;
  word-wrap:break-word;
}
#u5049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5049 {
  position:absolute;
  left:36px;
  top:290px;
  width:138px;
  height:40px;
}
#u5050 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
#u5051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:171px;
  top:290px;
  width:138px;
  height:40px;
  color:#FFFFFF;
}
#u5052 {
  position:absolute;
  left:2px;
  top:11px;
  width:134px;
  word-wrap:break-word;
}
