body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:359px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:568px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7231 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:568px;
}
#u7232 {
  position:absolute;
  left:2px;
  top:276px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u7233 {
  position:absolute;
  left:115px;
  top:117px;
  width:38px;
  height:35px;
  font-size:20px;
  color:#FFFFFF;
  line-height:25px;
}
#u7234 {
  position:absolute;
  left:2px;
  top:5px;
  width:34px;
  word-wrap:break-word;
}
#u7235_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:25px;
}
#u7235 {
  position:absolute;
  left:163px;
  top:123px;
  width:81px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  line-height:25px;
}
#u7236 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:25px;
}
#u7237 {
  position:absolute;
  left:15px;
  top:215px;
  width:325px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
  line-height:25px;
}
#u7238 {
  position:absolute;
  left:2px;
  top:8px;
  width:321px;
  word-wrap:break-word;
}
#u7239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7239 {
  position:absolute;
  left:123px;
  top:179px;
  width:135px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u7240 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u7242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7242 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:33px;
}
#u7243 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7244 {
  position:absolute;
  left:280px;
  top:6px;
  width:20px;
  height:22px;
}
#u7245 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:22px;
}
#u7246 {
  position:absolute;
  left:330px;
  top:6px;
  width:13px;
  height:22px;
}
#u7247 {
  position:absolute;
  left:2px;
  top:3px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7248_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7248 {
  position:absolute;
  left:14px;
  top:6px;
  width:20px;
  height:22px;
}
#u7249 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7250 {
  position:absolute;
  left:42px;
  top:6px;
  width:20px;
  height:22px;
}
#u7251 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u7252 {
  position:absolute;
  left:306px;
  top:13px;
  width:22px;
  height:13px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:10px;
  color:#BFBFBF;
}
#u7253 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u7254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:22px;
}
#u7254 {
  position:absolute;
  left:250px;
  top:6px;
  width:20px;
  height:22px;
}
#u7255 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u7256 {
  position:absolute;
  left:0px;
  top:33px;
  width:359px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  color:#000000;
}
#u7257 {
  position:absolute;
  left:2px;
  top:8px;
  width:355px;
  word-wrap:break-word;
}
#u7258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u7258 {
  position:absolute;
  left:15px;
  top:42px;
  width:16px;
  height:19px;
}
#u7259 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
