body {
  margin:0px;
  background-color:rgba(102, 153, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:95px;
}
#u0 {
  position:absolute;
  left:544px;
  top:12px;
  width:94px;
  height:95px;
}
#u1 {
  position:absolute;
  left:2px;
  top:40px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u2 {
  position:absolute;
  left:95px;
  top:52px;
  width:430px;
  height:880px;
}
#u3 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:122px;
  top:158px;
  width:375px;
  height:667px;
}
#u5 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u7 {
  position:absolute;
  left:142px;
  top:661px;
  width:108px;
  height:1px;
}
#u8 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u9 {
  position:absolute;
  left:364px;
  top:661px;
  width:108px;
  height:1px;
}
#u10 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#999999;
}
#u11 {
  position:absolute;
  left:273px;
  top:652px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#999999;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u13 {
  position:absolute;
  left:230px;
  top:729px;
  width:50px;
  height:41px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(102, 255, 153, 1) 100%, rgba(102, 255, 153, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(102, 255, 153, 1) 100%, rgba(102, 255, 153, 1) 100%);
  background:linear-gradient(90deg, rgba(0, 153, 255, 1) 0%, rgba(0, 153, 255, 1) 0%, rgba(102, 255, 153, 1) 100%, rgba(102, 255, 153, 1) 100%);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u15 {
  position:absolute;
  left:200px;
  top:531px;
  width:216px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u17 {
  position:absolute;
  left:337px;
  top:729px;
  width:50px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:255px;
}
#u19 {
  position:absolute;
  left:85px;
  top:121px;
  width:257px;
  height:255px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u20 {
  position:absolute;
  left:-51px;
  top:120px;
  width:358px;
  visibility:hidden;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  word-wrap:break-word;
  transform-origin:179.5px 7.5px;
  -ms-transform-origin:179.5px 7.5px;
  -moz-transform-origin:179.5px 7.5px;
  -webkit-transform-origin:179.5px 7.5px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
}
#u22 {
  position:absolute;
  left:230px;
  top:592px;
  width:85px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u24 {
  position:absolute;
  left:325px;
  top:592px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:45px;
  height:60px;
}
#u27 {
  position:absolute;
  left:293px;
  top:260px;
  width:35px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u29 {
  position:absolute;
  left:208px;
  top:278px;
  width:71px;
  height:32px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u31 {
  position:absolute;
  left:354px;
  top:283px;
  width:45px;
  height:22px;
  font-family:'Broadway Normal', 'Broadway';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u33 {
  position:absolute;
  left:404px;
  top:270px;
  width:15px;
  height:15px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:200px;
  top:390px;
  width:216px;
  height:40px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u37 {
  position:absolute;
  left:200px;
  top:447px;
  width:216px;
  height:40px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u38 {
  position:absolute;
  left:345px;
  top:496px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:200px;
  top:499px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u41 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u40_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u42 {
  position:absolute;
  left:648px;
  top:57px;
  width:430px;
  height:880px;
}
#u43 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u44 {
  position:absolute;
  left:675px;
  top:163px;
  width:375px;
  height:667px;
}
#u45 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u47 {
  position:absolute;
  left:695px;
  top:666px;
  width:108px;
  height:1px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:2px;
}
#u49 {
  position:absolute;
  left:917px;
  top:666px;
  width:108px;
  height:1px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-8px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#999999;
}
#u51 {
  position:absolute;
  left:826px;
  top:657px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#999999;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u53 {
  position:absolute;
  left:783px;
  top:734px;
  width:50px;
  height:41px;
}
#u54 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u55 {
  position:absolute;
  left:890px;
  top:734px;
  width:50px;
  height:40px;
}
#u56 {
  position:absolute;
  left:2px;
  top:12px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
}
#u58 {
  position:absolute;
  left:792px;
  top:563px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u60_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u60 {
  position:absolute;
  left:873px;
  top:563px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u62_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:45px;
  height:60px;
}
#u62 {
  position:absolute;
  left:846px;
  top:244px;
  width:35px;
  height:50px;
}
#u63 {
  position:absolute;
  left:2px;
  top:17px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:linear-gradient(90deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u64 {
  position:absolute;
  left:753px;
  top:497px;
  width:216px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u65 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:753px;
  top:361px;
  width:216px;
  height:40px;
}
#u66_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u68 {
  position:absolute;
  left:753px;
  top:418px;
  width:216px;
  height:40px;
}
#u68_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u69 {
  position:absolute;
  left:898px;
  top:467px;
  width:71px;
  height:20px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  color:#169BD5;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:753px;
  top:470px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u72 {
  position:absolute;
  left:16px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u71_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u73 {
  position:absolute;
  left:32px;
  top:34px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:880px;
}
#u75 {
  position:absolute;
  left:1177px;
  top:57px;
  width:430px;
  height:880px;
}
#u76 {
  position:absolute;
  left:2px;
  top:432px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(204, 204, 204, 1) 100%, rgba(204, 204, 204, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u77 {
  position:absolute;
  left:1204px;
  top:163px;
  width:375px;
  height:667px;
}
#u78 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:-1px;
  top:-2px;
  width:45px;
  height:60px;
}
#u79 {
  position:absolute;
  left:1375px;
  top:244px;
  width:35px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:40px;
  background:-webkit-linear-gradient(0deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:-moz-linear-gradient(90deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  background:linear-gradient(90deg, rgba(255, 153, 51, 1) 0%, rgba(255, 153, 51, 1) 0%, rgba(255, 204, 0, 1) 100%, rgba(255, 204, 0, 1) 100%);
  border:none;
  border-radius:45px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u81 {
  position:absolute;
  left:1284px;
  top:447px;
  width:216px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u82 {
  position:absolute;
  left:2px;
  top:8px;
  width:212px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:1284px;
  top:325px;
  width:217px;
  height:40px;
}
#u83_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u84 {
  position:absolute;
  left:1284px;
  top:381px;
  width:101px;
  height:40px;
}
#u84_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  font-family:'微软雅黑 Light', '微软雅黑 Regular', '微软雅黑';
  font-weight:290;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:36px;
}
#u86 {
  position:absolute;
  left:1216px;
  top:176px;
  width:21px;
  height:36px;
}
#u86_img.mouseDown {
}
#u86.mouseDown {
}
#u87 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Broadway Bold', 'Broadway Normal', 'Broadway';
  font-weight:700;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:1329px;
  top:181px;
  width:127px;
  height:27px;
  font-family:'Broadway Bold', 'Broadway Normal', 'Broadway';
  font-weight:700;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
}
#u90 {
  position:absolute;
  left:1108px;
  top:25px;
  width:45px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文宋体 Bold', '华文宋体 Regular', '华文宋体';
  font-weight:700;
  font-style:normal;
}
#u92 {
  position:absolute;
  left:531px;
  top:46px;
  width:134px;
  height:36px;
  -webkit-transform:rotate(15deg);
  -moz-transform:rotate(15deg);
  -ms-transform:rotate(15deg);
  transform:rotate(15deg);
  font-family:'华文宋体 Bold', '华文宋体 Regular', '华文宋体';
  font-weight:700;
  font-style:normal;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:29px;
}
#u94 {
  position:absolute;
  left:1404px;
  top:386px;
  width:1px;
  height:28px;
}
#u95 {
  position:absolute;
  left:2px;
  top:6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u96 {
  position:absolute;
  left:1416px;
  top:385px;
  width:81px;
  height:31px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u96_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:31px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u96.mouseDown {
}
#u97 {
  position:absolute;
  left:2px;
  top:6px;
  width:77px;
  word-wrap:break-word;
}
