body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1012px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:653px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.466666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u179 {
  position:absolute;
  left:51px;
  top:39px;
  width:961px;
  height:653px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u180 {
  position:absolute;
  left:2px;
  top:318px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:961px;
  height:653px;
  background:inherit;
  background-color:rgba(104, 118, 138, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:19px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u181 {
  position:absolute;
  left:51px;
  top:39px;
  width:961px;
  height:653px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u182 {
  position:absolute;
  left:2px;
  top:318px;
  width:957px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u184 {
  position:absolute;
  left:260px;
  top:360px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u185 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u186 {
  position:absolute;
  left:191px;
  top:352px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u187 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u188 {
  position:absolute;
  left:252px;
  top:374px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u189 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u190 {
  position:absolute;
  left:183px;
  top:382px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u191 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u193 {
  position:absolute;
  left:259px;
  top:361px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u194 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u195 {
  position:absolute;
  left:191px;
  top:353px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u196 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u197 {
  position:absolute;
  left:249px;
  top:374px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u198 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u199 {
  position:absolute;
  left:183px;
  top:383px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u200 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:60px;
  height:65px;
}
#u201 {
  position:absolute;
  left:931px;
  top:616px;
  width:50px;
  height:50px;
}
#u202 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_ann {
  position:absolute;
  left:974px;
  top:612px;
  width:1px;
  height:1px;
}
#u203_img {
  position:absolute;
  left:-5px;
  top:0px;
  width:60px;
  height:65px;
}
#u203 {
  position:absolute;
  left:865px;
  top:616px;
  width:50px;
  height:50px;
}
#u204 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_ann {
  position:absolute;
  left:908px;
  top:612px;
  width:1px;
  height:1px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:50px;
}
#u205 {
  position:absolute;
  left:246px;
  top:390px;
  width:46px;
  height:50px;
}
#u206 {
  position:absolute;
  left:2px;
  top:17px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u208 {
  position:absolute;
  left:735px;
  top:161px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u209 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u210 {
  position:absolute;
  left:667px;
  top:153px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u211 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:78px;
}
#u212 {
  position:absolute;
  left:725px;
  top:174px;
  width:97px;
  height:78px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u213 {
  position:absolute;
  left:2px;
  top:31px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:61px;
}
#u214 {
  position:absolute;
  left:659px;
  top:183px;
  width:96px;
  height:61px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u215 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u216 {
  position:absolute;
  left:70px;
  top:58px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:rgba(255, 255, 255, 0.776470588235294);
}
#u218 {
  position:absolute;
  left:704px;
  top:77px;
  width:83px;
  height:42px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:rgba(255, 255, 255, 0.776470588235294);
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
